@import url('./line.css');

.d_flex_y_ce {
  display: flex;
  align-items: center;
}

.d_flex_x_r {
  display: flex;
  justify-content: flex-end;
}

.d_flex_x_sb {
  display: flex;
  justify-content: space-between;
}