.about_area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 10px 24px;
  padding-top: 0;
  margin: 0 auto;
}

.about_intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;

  & h1 {
    display: flex;
    align-items: center;
  }
}

.move_text_y {
  margin: 0 5px;
  overflow: hidden;
  height: 50px;
}

.move_text_area {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: transform 0.7s linear, width 0.5s linear;

  & span {
    line-height: 50px;
    opacity: 0;
    transition: color 0.3s linear;
    animation: opa 0.7s linear forwards;
  }

  & span.hide {
    color: transparent;
  }
}

@keyframes opa {
  to {
    opacity: 1;
  }
}

.title {
  border-bottom: 1px solid #000;
  max-width: max-content;
}

.people_list {
  display: flex;
  justify-content: center;
}

.people_list > *:not(:last-child) {
  margin-right: 10px;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  max-width: calc(100vw / 4);
  border: 1px solid rgb(0, 109, 199);
}

.person > *:not(:last-child) {
  margin-bottom: 5px;
}

.photo {
  width: var(--person-photo-size);
  height: var(--person-photo-size);
  border-radius: 30px;
  overflow: hidden;
  pointer-events: none;
  user-select: none;

  & img {
    width: 100%;
    height: 100%;
  }
}

.name {
  font-weight: bold;
  font-size: 1.1em;
}

.occupation {
  opacity: 0.7;
  font-size: 0.8em;
}

p {
  text-align: center;
  text-wrap: balance;
}

.social_accounts {
  display: flex;

  & > * {
    cursor: pointer;
    color: inherit;
  }
}

.social_accounts > *:not(:last-child) {
  margin-right: 10px;
}

:root {
  --person-photo-size: 120px;
}

@media (min-width: 1200px) {
  .about_area {
    max-width: 1200px;
  }
}
