.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-wrap > * {
    margin-bottom: 0 !important;
}

.content-body {
    flex-grow: 1;
}