*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: inherit;
}

html,
body {
  font-size: 14px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-body {
  flex-grow: 1;
}
