body {
    margin: 0;
    font-family: Inter,
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #8A2BE2FF;
}

code {
    font-family: Inter,  sans-serif,
    monospace;
}
