.conditions {
  display: flex;
  flex-wrap: wrap;
}

.conditions > * {
  color: #fff;
  padding: 0 5px;
  border-radius: 2em;
  color: var(--complated-color);
}

.conditions > *:not(.checked) {
  color: var(--not-complated-color);
}

.conditions > *:not(:last-child) {
  margin-right: 4px;
  margin-bottom: 4px;
}

:root {
  --complated-color: #50bb4e;
  --not-complated-color: #bb4e4e;
}
